/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode a {
  color: white;
}

body.dark-mode a:hover {
  text-decoration: underline;
}

/* Font faces */
@font-face {
  font-family: "Biro Script Plus";
  src: url("../fonts/Biro Script Plus.ttf") format("truetype");
}

@font-face {
  font-family: "Gilmer Bold";
  src: url("../fonts/Gilmer Bold.otf") format("opentype");
}

@font-face {
  font-family: "Gilmer Heavy";
  src: url("../fonts/Gilmer Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Gilmer Light";
  src: url("../fonts/Gilmer Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilmer Medium";
  src: url("../fonts/Gilmer Medium.otf") format("opentype");
}

@font-face {
  font-family: "Gilmer Outline";
  src: url("../fonts/Gilmer Outline.otf") format("opentype");
}

@font-face {
  font-family: "Gilmer Regular";
  src: url("../fonts/Gilmer Regular.otf") format("opentype");
}

@font-face {
  font-family: "Goudy Old Style Regular";
  src: url("../fonts/Goudy Old Style Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SchotisText Black";
  src: url("../fonts/SchotisText-Black.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText BlackItalic";
  src: url("../fonts/SchotisText-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText Bold";
  src: url("../fonts/SchotisText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText BoldItalic";
  src: url("../fonts/SchotisText-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText Book";
  src: url("../fonts/SchotisText-Book.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText BookItalic";
  src: url("../fonts/SchotisText-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText Heavy";
  src: url("../fonts/SchotisText-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText HeavyItalic";
  src: url("../fonts/SchotisText-HeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText Italic";
  src: url("../fonts/SchotisText-Italic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText Light";
  src: url("../fonts/SchotisText-Light.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText LightItalic";
  src: url("../fonts/SchotisText-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText SemiBold";
  src: url("../fonts/SchotisText-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText SemiBoldItalic";
  src: url("../fonts/SchotisText-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "SchotisText";
  src: url("../fonts/SchotisText.otf") format("opentype");
}

@font-face {
  font-family: "sf-pro-display-black";
  src: url("../fonts/sf-pro-display-black.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-blackitalic";
  src: url("../fonts/sf-pro-display-blackitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-bold";
  src: url("../fonts/sf-pro-display-bold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-bolditalic";
  src: url("../fonts/sf-pro-display-bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-heavy";
  src: url("../fonts/sf-pro-display-heavy.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-heavyitalic";
  src: url("../fonts/sf-pro-display-heavyitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-light";
  src: url("../fonts/sf-pro-display-light.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-lightitalic";
  src: url("../fonts/sf-pro-display-lightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-medium";
  src: url("../fonts/sf-pro-display-medium.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-mediumitalic";
  src: url("../fonts/sf-pro-display-mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-regular";
  src: url("../fonts/sf-pro-display-regular.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-regularitalic";
  src: url("../fonts/sf-pro-display-regularitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-semibold";
  src: url("../fonts/sf-pro-display-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-semibolditalic";
  src: url("../fonts/sf-pro-display-semibolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-thin";
  src: url("../fonts/sf-pro-display-thin.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-thinitalic";
  src: url("../fonts/sf-pro-display-thinitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-ultralight";
  src: url("../fonts/sf-pro-display-ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-ultralightitalic";
  src: url("../fonts/sf-pro-display-ultralightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-bold";
  src: url("../fonts/sf-pro-text-bold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-bolditalic";
  src: url("../fonts/sf-pro-text-bolditalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-heavy";
  src: url("../fonts/sf-pro-text-heavy.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-heavyitalic";
  src: url("../fonts/sf-pro-text-heavyitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-light";
  src: url("../fonts/sf-pro-text-light.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-lightitalic";
  src: url("../fonts/sf-pro-text-lightitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-medium";
  src: url("../fonts/sf-pro-text-medium.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-mediumitalic";
  src: url("../fonts/sf-pro-text-mediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-regular";
  src: url("../fonts/sf-pro-text-regular.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-regularitalic";
  src: url("../fonts/sf-pro-text-regularitalic.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-semibold";
  src: url("../fonts/sf-pro-text-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-text-semibolditalic";
  src: url("../fonts/sf-pro-text-semibolditalic.ttf") format("truetype");
}

/* Custom fonts */
.font-biro-script {
  font-family: "Biro Script Plus", cursive;
}

@font-face {
  font-family: "sf-pro-display-regular";
  src: url("../fonts/sf-pro-display-regular.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-display-light";
  src: url("../fonts/sf-pro-display-light.ttf") format("truetype");
}

/* Other styles remain the same */

a.active {
  font-family: "sf-pro-display-light", sans-serif;
  font-weight: bold;
  color: #222222;
}

body.dark-mode a {
  color: white;
}

body.dark-mode a:hover {
  text-decoration: underline;
}

.section-content {
  padding: 2rem;
}

.text-md {
  font-size: 0.8rem;
}

nav a {
  position: relative;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px; /* Adjust this value to position the dot */
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #222222; /* Adjust the color as needed */
}

.custom-border {
  border-width: 1.4px;
  border-color: #d1d5db; /* This is equivalent to border-gray-300 */
  border-style: solid;
  border-radius: 1rem; /* This is equivalent to rounded-2xl in Tailwind */
}

.honoris_red {
  background-color: #701425;
}
