/* global/css/global.css */

@font-face {
    font-family: "Gilmer Bold";
    src: url("../fonts/Gilmer Bold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer Light";
    src: url("../fonts/Gilmer Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arno Pro";
    src: url("../fonts/Arno Pro Caption.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CA Dater";
    src: url("../fonts/CA Dater-Regular.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "1848";
    src: url("../fonts/1776_Independence W00 Normal.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier New";
    src: url("../fonts/Courier\ New.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "9103";
    src: url("../fonts/9103.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.font-9103 {
    font-family: "9103", serif;
}

.font-courier {
    font-family: "Courier New", serif;
}

.font-1848 {
    font-family: "1848", serif;
}

.font-gilmer-bold {
    font-family: "Gilmer Bold", sans-serif;
}

.font-gilmer-light {
    font-family: "Gilmer Light", sans-serif;
}

.font-arno {
    font-family: "Arno Pro", serif;
}
.font-dater {
    font-family: "CA Dater", serif;
}